<!-- Footer -->
<div class="bottom-background"></div>
<footer>
    <nav>
        <ul>
          <li><a href="/" title="About" class="icon-about"><span>About</span></a></li>
          <li><a href="/services" title="Services" class="icon-monitor"><span>Services</span></a></li>
          <li><a href="/recent-builds" title="Recent Builds" class="icon-spanner"><span>Recent Builds</span></a></li>
          <li><a href="/contact" title="Contact" class="icon-contact"><span>Contact</span></a></li>
        </ul>
    </nav>
</footer>
<!--// Footer -->

<script>
    var _gaq=[['_setAccount','UA-44892304-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src='//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<script src="assets/js/lib/jquery.min.js"></script>
<script src="assets/js/lib/underscore-min.js"></script>
<script src="assets/js/lib/backbone-min.js"></script>
<script src="assets/js/main-original.js"></script>